/* Tweet.css */

.tweet {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 20px;
}

.tweet-header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.pict {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 12px;
}

.user-info {
    font-weight: bold;
}

.username {
    color: #1da1f2;
}

.handle {
    color: #657786;
    margin-left: 4px;
}

.tweet-content {
    margin-bottom: 8px;
}

.tweet-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timestamp {
    color: #657786;
}

.actions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 8px;
}

.like-button {
    color: #e0245e;
}

.reply-button {
    color: #1da1f2;
}
